/* Universal */
* {
    margin: 2px;
}

/* Entire Body */
body {
    background-color: pink;
}

.header {
    background-color: darkblue;
    color: white;
    text-align: center;
}

/* Searches Side */
.search-side {
    border: 3px solid black;
    margin: 5px;
    background-color: white;
}

.past-results {
    background-color: aquamarine;
    border: 2px solid black;
    margin: 3px;
}

.past-results:hover {
    border: 2px solid red;
}

/* City Typed */
.citySelected {
    border: 3px solid purple;
    background-color: white;
    margin: 5px;
}

/* Five Day Forecast */
.card-body {
    background-color: white;
}

#fiveDayForecast {
    display: flex;
    flex-wrap: wrap;  
    border: 3px solid green;
    margin: 5px;
    background-color: white;
}

.temp-lists {
    display: flex;
    padding: 5px;
}

/* UV Index color */
.extreme{
    background-color: red;
    color:white;
}

.moderate{
    background-color: yellow;
}

.good{
    background-color: green;
    color:white;
}